In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://de-z.asia-southeast1-b.c.dte-de-375705.internal:7077") \
    .appName('test') \
    .getOrCreate()

In [2]:
spark

### read parquet data

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2020-01-06 09:18:38|  2020-01-06 09:33:56|              1|         3.03|         1|                 N|         263|         233|           1|       12.0|  0.0|    0.5|       1.5|         0.0|                  0.3|        16.8|                 2.5|
|       2| 2020-01-08 18:55:19|  2020-01-08 18:58:38|              1|          0.4|         1|                 N|         234|         107|           1|        4.0|  1.0|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|
|       2| 2020-01-16 12:11:53|  2020-01-16 12:42:44|              1|         2.46|         1|                 N|          68|         229|           1|       19.0|  0.0|    0.5|      4.46|         0.0|                  0.3|       26.76|                 2.5|
|       2| 2020-01-11 01:55:59|  2020-01-11 02:03:21|              6|          1.9|         1|                 N|         230|          90|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|
|       2| 2020-01-01 21:31:48|  2020-01-01 21:36:01|              1|         0.77|         1|                 N|         238|         239|           1|        5.0|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 2.5|
|       2| 2020-01-14 11:51:02|  2020-01-14 12:01:14|              1|         1.55|         1|                 N|         163|         230|           1|        8.5|  0.0|    0.5|       0.5|         0.0|                  0.3|        12.3|                 2.5|
|       2| 2020-01-26 19:15:51|  2020-01-26 19:30:13|              1|         2.53|         1|                 N|         170|         236|           2|       12.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        15.3|                 2.5|
|       1| 2020-01-23 08:06:15|  2020-01-23 08:16:14|              3|          1.7|         1|                 N|         163|          68|           1|        8.5|  2.5|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|
|       1| 2020-01-18 18:50:47|  2020-01-18 19:03:13|              2|          0.8|         1|                 N|         234|         186|           2|        9.0|  2.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|
|       2| 2020-01-26 16:08:15|  2020-01-26 16:27:05|              1|         1.72|         1|                 N|         237|         162|           2|       12.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        15.8|                 2.5|
|       2| 2020-01-20 22:50:00|  2020-01-20 23:21:42|              1|        11.32|         1|                 N|         138|         239|           1|       35.0|  0.5|    0.5|      8.98|        6.12|                  0.3|        53.9|                 2.5|
|       1| 2020-01-15 23:05:17|  2020-01-15 23:27:28|              1|          6.6|         1|                 N|         125|         151|           1|       23.0|  3.0|    0.5|       3.0|         0.0|                  0.3|        29.8|                 2.5|
|       2| 2020-01-24 08:02:45|  2020-01-24 08:10:58|              1|         1.18|         1|                 N|         170|         161|           1|        7.0|  0.0|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|
|       2| 2020-01-08 19:24:16|  2020-01-08 19:32:17|              2|         1.23|         1|                 N|         234|         249|           1|        7.0|  1.0|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|
|       2| 2020-01-25 08:28:20|  2020-01-25 08:32:30|              2|         0.65|         1|                 N|         237|         140|           1|        5.0|  0.0|    0.5|       1.0|         0.0|                  0.3|         9.3|                 2.5|
|       1| 2020-01-11 16:43:09|  2020-01-11 17:00:42|              1|          1.7|         1|                 N|         186|         113|           1|       11.5|  2.5|    0.5|      2.22|         0.0|                  0.3|       17.02|                 2.5|
|       1| 2020-01-07 12:32:34|  2020-01-07 12:43:03|              1|          1.4|         1|                 N|         234|         246|           1|        8.5|  2.5|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|
|       2| 2020-01-06 11:57:13|  2020-01-06 12:05:37|              1|         2.23|         1|                 N|         263|          74|           2|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|
|       1| 2020-01-20 21:57:49|  2020-01-20 22:03:45|              1|          1.4|         1|                 N|         231|         113|           1|        6.5|  3.0|    0.5|       1.0|         0.0|                  0.3|        11.3|                 2.5|
|       2| 2020-01-07 18:23:35|  2020-01-07 18:31:25|              2|         1.04|         1|                 N|         211|          79|           1|        7.0|  1.0|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [5]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [6]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [7]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

### data manipulation

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

check if the two df have more same columns

In [10]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

create common columns of these two df

In [11]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [12]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

select common column for green df and add servicetype for this green taxi type

In [13]:
from pyspark.sql import functions as F

In [14]:
df_green_selected = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [15]:
df_yellow_selected = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [16]:
df_trips_data = df_green_selected.unionAll(df_yellow_selected)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

### querying using sql

expose dataframe as a table

In [18]:
df_trips_data.createOrReplaceTempView('trips_data')

In [19]:
spark.sql("""
SELECT 
    service_type,
    count(1) as count
FROM 
    trips_data 
GROUP BY
    service_type
LIMIT 100
""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [20]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc(pickup_datetime, pickup_datetime) AS revenue_month, 
    --Note: For BQ use instead: date_trunc(pickup_datetime, month) AS revenue_month, 

    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance

FROM trips_data
GROUP BY 1, 2, 3
""")

In [21]:
df_result.show()

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         254|         null|       green|   278150.7100000017|   11320.520000000006|                  854.5|         9569.900000000001|           13415.77999999992|                   2786.0999999998517|           316342.1100000017|                                22.0|         1.138095238095238|      249.57145962406778|
|          38|         null|       green|    82767.6100000003|   2537.5999999999995|                  237.5|                   2433.53|           3530.909999999999|                     664.200000000008|           92221.80000000002|                                2.75|        1.1342925659472423|       151.5832342657343|
|         229|         null|       green|  13658.469999999998|                689.3|                   23.0|                    388.43|           789.1000000000006|                   131.99999999999972|          15699.049999999997|                               13.25|        1.2222222222222223|       8.259659863945577|
|         188|         null|       green|  430873.54999999446|    21162.42000000001|                 1931.0|        19095.490000000005|           6813.589999999964|                    5714.399999999656|           486764.0000000084|                              348.75|        1.1596080910240203|       82.27654449456644|
|         232|         null|       green|  40609.980000000025|   1913.9499999999998|                  64.55|                    1314.6|          1395.4100000000003|                    403.5000000000009|           45729.54000000001|                                5.25|         1.069767441860465|      261.16848552338536|
|          91|         null|       green|  250313.21999999747|    12562.13000000001|                  787.0|         8716.689999999999|          6357.6099999999715|                    2745.299999999858|           281822.2500000027|                                11.0|        1.1644120707596255|      150.86490212498697|
|         134|         null|       green|  237161.70999999926|   10112.500000000002|                 5852.0|        17749.850000000013|           4267.539999999986|                   4513.2000000003445|          280469.14999999985|                              734.25|        1.3807110815750125|      14.592568801313632|
|         109|         null|       green|              487.78|                 3.75|                    3.0|                       5.5|                       62.06|                                  2.7|           567.5400000000001|                                2.75|        1.3333333333333333|      16.052222222222223|
|         241|         null|       green|  146435.96999999913|    4976.449999999998|                  874.5|                   5909.28|           5791.599999999975|                   1537.2000000000085|          165902.95000000083|                                82.5|        1.1257344300822563|      142.77369097091048|
|          93|         null|       green|            30308.01|    655.6500000000001|                  297.5|        2848.0600000000004|           1195.750000000001|                    314.0999999999996|          35931.469999999965|                               291.5|        1.3621399176954732|       7.395726179463465|
|         101|         null|       green|   39496.09000000004|   1367.1999999999998|                  112.0|        1092.3700000000001|           952.1200000000002|                   324.00000000000057|           43368.63000000009|                                22.0|                       1.2|       195.6959838998212|
|         118|         null|       green|             4471.26|                41.25|                   25.5|                     90.87|           650.9100000000001|                   23.699999999999996|                     5303.49|                                 0.0|         1.169811320754717|      18.348101265822788|
|         189|         null|       green|   94516.58000000018|              4349.99|                 1131.0|         7784.499999999997|           769.1300000000002|                    1469.399999999979|          111309.84999999998|                              700.25|        1.2221715328467153|      100.36491477842405|
|         153|         null|       green|   44446.14000000008|   1739.6000000000001|                  314.0|                   1898.36|           836.8100000000005|                    538.5000000000039|           49846.35999999987|                                38.5|        1.1730769230769231|       85.14134782608693|
|         221|         null|       green|             4423.11|                 43.0|                   25.5|         97.51000000000002|           650.6500000000001|                   25.199999999999996|           5278.719999999999|                                 0.0|        1.5272727272727273|       15.34678571428571|
|         225|         null|       green|  327440.79999999516|   15683.280000000012|                 1740.5|        14035.020000000004|           6848.679999999968|                    4104.899999999652|           370806.5300000001|                              257.75|         1.153555479216764|      26.192385075677578|
|          76|         null|       green|   519384.7099999888|    22772.82000000003|                 1959.0|                  17321.47|          16248.769999999877|                    5437.199999999807|           583539.5199999928|                                8.25|        1.2111475409836066|       79.12579277697995|
|         227|         null|       green|  145901.40999999945|              4067.25|                  700.5|         5313.889999999999|          1879.9699999999998|                    1220.700000000029|          159232.02000000098|                               41.25|         1.043778801843318|       30.87106049650518|
|          94|         null|       green|   82998.72000000004|   3515.6999999999994|                  562.0|                   3282.34|                     2794.86|                   1018.8000000000214|           94344.31999999935|                                46.5|        1.1953612845673507|       75.99355281992563|
|          52|         null|       green|  204883.62999999983|               6166.2|                 7813.5|        30908.169999999976|          1451.2800000000004|                    4981.800000000519|            262175.629999996|                              6024.0|        1.2154023577652486|       5.637083707293712|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [22]:
df_result.write.parquet('data/report/revenue', move='overwrite')

AnalysisException: path file:/home/ersa/de-zoomcamp/week_5_batch_processing/code/data/report/revenue already exists.