In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

change format for 
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
 into timestamp

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

using postgres connection(sqlalchemy) to integrate the generated DDL statement that will be created by pandas, and for import data into postgres

In [5]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

check connection to postgres

In [12]:
engine.connect()

create DDL from dataset

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

add connection to get_schema method, so the schema will be suited for postgres

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

divided the dataset into chunk, so it will be more easier to import into database

In [17]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [22]:
df = next(df_iter)

In [24]:
len(df)

100000

In [21]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

NameError: name 'df' is not defined

import data into database with pandas

df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

print df without data, just only column names. And import the data

In [31]:
%time df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: total: 62.5 ms
Wall time: 141 ms

0

In [32]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.81 s
Wall time: 12.5 s

1000

create loop that will import the data through iteration

and import time to trace the process time for each iteration

In [33]:
from time import time

In [34]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'inserted another chunk .., took {t_end - t_start:.3f} second')

inserted another chunk .., took -11.519 second
inserted another chunk .., took -12.835 second
inserted another chunk .., took -11.986 second
inserted another chunk .., took -12.919 second
inserted another chunk .., took -13.852 second
inserted another chunk .., took -12.937 second
inserted another chunk .., took -14.453 second
inserted another chunk .., took -13.437 second
inserted another chunk .., took -12.924 second
inserted another chunk .., took -14.528 second
inserted another chunk .., took -20.466 second

C:\Users\X1\AppData\Local\Temp\ipykernel_14856\877043553.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk .., took -16.430 second
inserted another chunk .., took -8.445 second

StopIteration:

In [2]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [3]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [13]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

Import green taxi trips data into postgres

In [24]:
df_green = pd.read_csv('green_tripdata_2019-01.csv')

In [25]:
df_green

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0

In [29]:
df_green.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 96.3+ MB

In [27]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_trip', con=engine))

CREATE TABLE green_taxi_trip (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

change format of lpep_pickup_datetime TEXT, 
	lpep_dropoff_datetime TEXT,

In [28]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [32]:
len(df_green)

630918